<div class="col-md-12">
  <div class="content-box-header">
    <div class="panel-title">請假申請表</div>
  </div>
  <div class="content-box-large box-with-header">
    <%= simple_form_for @leave_event do |f| %>
    <%= f.input :start_date, require: :true %>
    <%= f.input :end_date, require: :true %>
    <%= f.input :hours, require: :true %>
    <%= f.input :description, require: :true %>
    <%= f.input :leave_type, require: :true, collection: LeaveEvent::BASIC_TYPES %>
    <%= f.button :submit %>
    <% end %>
  </div>
</div>
