<div class="col-md-12">
  <div class="content-box-header">
    <div class="panel-title">假單</div>
  </div>
  <div class="content-box-large box-with-header">
    請假開始：<%= @leave_event.start_date %>
    <br>
    請假結束：<%= @leave_event.end_date %>
    <br>
    理由：<%= @leave_event.description %>
    <br>
    類型：<%= @leave_event.leave_type %>
    <% if can? :read, current_user %>
    <% if @leave_event.can_verify? %>
      <%= link_to '讓他請假', verify_leave_event_path, method: :post, class: 'btn btn-success', data: { confirm: "是否讓他放假?"} %>
      <%= link_to '不爽讓你請', root_path, class: 'btn btn-danger'%>
      <% end %>
    <% end %>
  </div>
</div>
