<div class="container-fluid">
<div class="row">
  <div class="col-md-6">
    <p>Name: <%= @user.name %></p>
    <p>Email: <%= @user.email %></p>
    <p>Role: <%= @user.role %></p>
    <p>Join Date: <%= @user.join_date %></p>
    <p>Leave Date: <%= @user.leave_date %></p>
  </div>
</div>
</div>