<div class="col-md-12">
  <div class="content-box-header">
    <div class="panel-title">個人資料</div>
  </div>
  <div class="content-box-large box-with-header">
    <p>Name: <%= @user.name %></p>
    <p>Email: <%= @user.email %></p>
    <p>Role: <%= @user.role %></p>
    <p>Join Date: <%= @user.join_date %></p>
    <p>Leave Date: <%= @user.leave_date %></p>
  </div>
</div>
