<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bonga</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
<body class="login-bg">
<%= render 'common/navbar' %>
<%= render "common/flashes" %>
  <div class="page-content container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= yield %>
      </div>
    </div>
  </div>
  </body>
</html>
